.api-form {
    max-width: 750px;
}
.right-align-checkbox {
    display: flex !important;
    justify-content: flex-end;
}
.right-align-checkbox input[type='checkbox'] {
    margin-right: 5px;
}
button.btn-light {
    border-color: var(--bs-border-color) !important;
}
.navbar-custom {
    background-color: #5e6061;
}
.navbar-custom span {
    color: white;
}
.warning {
    color: orange;
}
.success {
    color: green;
}
.danger {
    color: red;
}
.info {
    color: gray;
}
.monospace {
    font-family: monospace;
}
.json-output {
    width: 750px;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
.copy-to-clipboard {
    color: gray;
    width: auto !important;
}
.copy-to-clipboard:hover {
    color: #444444;
    cursor: pointer;
}
