.json-output {
    width: 750px;
}

.error {
    color: red;
}
.success {
    color: green;
}
.warning {
    color: gray;
}

.input-label {
    display: inline-block;
    width: 150px;
    /* text-align: right; */
    /* margin-right: 10px; */
}

.input-field {
    width: 250px;
    padding: 3px 6px;
    margin: 2px 0;
}

input[type='checkbox'] {
    margin-left: 0;
}

.fetch-button {
    padding: 5px 10px;
    font-size: 14px;
}
